<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http:www.thymeleaf.org">
<head>
<title>Cadastro de Chaves</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<div class="panel-heading" align="center">
			<strong>CADASTRO DE CHAVE</strong>
		</div>
		
		<div class="panel-body border">
			<form class="form-horizontal" th:object="${chave}" th:action="@{/chave/salvar}" method="POST" style="margin: 10px">
				<div class="form-group">
					<fieldset>
						<div class="form-group row">
							<label>CODIGO</label>
							<input type="text" class="form-control input-sm" th:field="*{codigo}" autofocus="autofocus"
							placeholder="Informe o codigo" maxlength="50"/>						
						</div>
					</fieldset>				
				</div>
				<div align="center">
					<button type="submit" class="btn btn-sm btn-success">SALVAR</button>
					<a th:href="@{/chave/listaChave}" class="btn btn-sm btn-default">CANCELAR</a>
				</div>				
			</form>		
		</div>		
	</div>
</body>
</html>