<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http:www.thymeleaf.org">
<head>
<title>Listagem de Chaves</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<div class="panel-default">
			<div class="text-center">
				<h1 class="h4 text-gray-900 mb-4">Listagem de Chaves</h1>
			</div>

			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-sm table-striped table-havertable-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>CODIGO</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="chave :${chave}">
								<td th:text="${chave.id}"></td>
								<td th:text="${chave.codigo}"></td>
								<td>
									<div class="btn-group pull-right">
										<a class="btn btn-sm btn-primary" th:href="@{/chave/alterar/{idChave}(idChave=${chave.id})}">ALTERAR</a>
										<a class="btn delete btn-sm btn-danger" th:href="@{/chave/excluir/{idChave}(idChave=${chave.id})}">EXCLUIR</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<a class="btn tbn-sm btn-success" th:href="@{/chave/cadastrar}">CADASTRAR NOVA CHAVE</a>
	</div>

</body>
</html>